.hero {
  padding-block-start: 3rem;
  padding-block-end: 5rem;
  position: relative;
}

.heroHeadline {
  margin-inline: auto;
}

.heroHeadline span {
  opacity: 0;
}

.heroBubbleLeft,
.heroBubbleRight {
  position: absolute;
  top: 60%;
  translate: 0 -50%;
}

.heroBubbleLeft {
  left: 0;
}

.heroBubbleRight {
  right: 0;
}
