.hero {
  margin-block-start: 114px; /* 114px header height */
  padding-block: 0 3rem;
  position: relative;
}

.heroHeadline {
  margin-inline: auto;
}

.heroHeadline span {
  opacity: 0;
}

.heroBubbleLeft,
.heroBubbleRight {
  --bubble-offset: clamp(1%, 4%, 6%);

  position: absolute;
  top: 60%;
  translate: 0 -50%;
}

.heroBubbleLeft {
  left: var(--bubble-offset);
}

.heroBubbleRight {
  right: var(--bubble-offset);
}

@media screen and (max-width: 960px) {
  .heroBubbleLeft,
  .heroBubbleRight {
    --bubble-offset: 1%;
  }
}
