.hero {
  --margin-block-start: 114px;

  margin-block-start: var(--margin-block-start); /* 114px header height */
  padding-block: 0 3rem;
  position: relative;
}

.heroHeadline {
  margin-inline: auto;
}

.heroHeadline span {
  opacity: 0;
}

.heroBubbleLeft,
.heroBubbleRight {
  --bubble-offset: clamp(1%, 4%, 6%);

  position: absolute;
  top: 60%;
  translate: 0 -50%;
}

.heroBubbleLeft {
  left: var(--bubble-offset);
}

.heroBubbleRight {
  right: var(--bubble-offset);
}

.canvasWrapper {
  height: calc(var(--margin-block-start) + 150%);
  left: 0;
  opacity: 0.9;
  pointer-events: none;
  position: absolute;
  top: calc(var(--margin-block-start) * -1);
  width: 100%;
  /* z-index: 10; */
}

.canvasWrapper > * {
  pointer-events: none !important;
}

@media screen and (max-width: 960px) {
  .heroBubbleLeft,
  .heroBubbleRight {
    --bubble-offset: 1%;
  }
}
