.headline {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 13em;
  line-height: calc(80% + 1rem);
  margin-block-start: 1rem;
  text-transform: uppercase;
  width: fit-content;
}

.headline [data-position="left"] {
  align-self: flex-start;
}

.headline [data-position="center"] {
  align-self: center;
}

.headline [data-position="right"] {
  align-self: flex-end;
}

.headline [data-variant="fill"] {
  color: var(--neutral-0);
}

.headline [data-variant="outline"] {
  color: var(--neutral-900);
  --tl: max(-1px, -0.0694444444vw) max(-1px, -0.0694444444vw) 0 var(--neutral-0);
  --tr: max(1px, 0.0694444444vw) max(-1px, -0.0694444444vw) 0 var(--neutral-0);
  --bl: max(-1px, -0.0694444444vw) max(1px, 0.0694444444vw) var(--neutral-0);
  --br: max(1px, 0.0694444444vw) max(1px, 0.0694444444vw) 0 var(--neutral-0);

  text-shadow: var(--tl), var(--tr), var(--br), var(--bl);
}
